MYSQL_HOST = your_address
MYSQL_PORT = your_port
MYSQL_DATABASE = your_database
MYSQL_USER = your_username
MYSQL_PASSWORD = your_password

EMAIL_SENDER = sender@example.com
EMAIL_RECIPIENT = recipient@example.com
EMAIL_SUBJECT = Quality Report
EMAIL_BODY = Hello,\n\nPlease find the attached quality report.\n\nRegards,\nAutomation
