# encryption_key
ENCRYPTION_ALGORITHM = aes-gcm
ENCRYPTION_KEY = your_key

# database variables
MYSQL_HOST = your_value
MYSQL_PORT = your_value
MYSQL_DATABASE = your_value
MYSQL_USER = your_value
MYSQL_PASSWORD = your_value

# email variables
SMTP_HOST = your_value
SMTP_PORT = 587
SMTP_SECURITY = starttls
SMTP_USER = your_value
SMTP_PASSWORD = your_value
EMAIL_SENDER = your_value
EMAIL_RECIPIENT = your_value

# data result
PLANT = RK1
LOCATION = U6
GROUP = 99
BRAND = DUMMY
SET_SAMPLE = 1
BAGIAN = Rolling & Cutting